@import '../../../colors.css';
@import '../../../sizes.css';

.headerPanel {
  padding-top: var(--size-medium);
  padding-left: var(--size-medium);
  padding-right: var(--size-medium);
  padding-bottom: var(--size-small);
  background: var(--header-background-color);
}

.artistName {
  color: #ffffff;
  font-size: var(--font-size-large);
}

.artistStats {
  margin-top: var(--size-tiny);
  color: var(--secondary-text-color);
  font-size: var(--font-size-tiny);
}

.buttonContainer {
  margin-top: var(--size-tiny);
}

.albums {
  padding: var(--size-medium);
}

.albumArtwork {
  width: var(--artwork-size);
  height: var(--artwork-size);
}

.button {
  width: 40px;
  height: 40px;
  margin-left: var(--size-tiny);
  margin-right: var(--size-tiny);
}

.album {
  display: flex;
  flex-direction: row;
}
