@import "../colors.css";

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.time {
  padding: 1em;
  color: color(var(--inactive-color) shade(30%));
}

.controls {
  padding-top: 1em;
}

.mainIcon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  user-select: none;
}
