@import '../../sizes.css';
@import '../../colors.css';

.heading {
  font-size: var(--font-size-large);
  color: #ffffff;

  margin: var(--size-medium);
}

.container {
  margin-left: var(--size-medium);
  margin-right: var(--size-medium);
  margin-bottom: var(--size-medium);

  display: grid;
  grid-column-gap: var(--size-small);
  grid-row-gap: var(--size-small);

  grid-template-columns: repeat(auto-fill, minmax(var(--artwork-size), 1fr));
}
