@import '../../sizes.css';
@import '../../colors.css';

:root {
  --table-separator-color: #323232;
  --text-color: #aaaaaa;
}

.columns {
  /* A collection of columns. It's used by both rows and headers. */
  display: flex;
  height: 36px;
  align-items: center;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 14px;

  padding-left: var(--size-small);
  padding-right: var(--size-small);
}

.bordered {
  border-bottom-color: var(--table-separator-color);
  border-bottom-style: solid;
}

.column {
  composes: singleLine from '../../shared.css';
  margin-left: var(--size-very-tiny);
  margin-right: var(--size-very-tiny);
  height: auto;
}

@keyframes loading-background {
  from {
    background: color(var(--main-background-color) tint(15%));
  }

  to {
    background: color(var(--main-background-color) tint(17%));
  }
}

.empty.columns {
  align-items: stretch;
}

.empty .loading {
  margin-top: var(--size-tiny);
  margin-bottom: var(--size-tiny);

  animation-direction: alternate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-name: loading-background;
  animation-timing-function: ease-in-out;
}

.header {
  composes: bordered;
  text-transform: uppercase;
  border-bottom-width: 2px;
}

.row {
  composes: bordered;
  border-bottom-width: 1px;
}

.row,
.header {
  composes: columns;
}

.song,
.album,
.artist,
.duration {
  composes: column;
  composes: loading;
}

.song,
.album,
.artist {
  flex: 2;
}

.duration {
  flex: 1;
}
