@import '../../sizes.css';
@import '../../colors.css';

:root {
  --table-separator-color: #323232;
  --text-color: #aaaaaa;
  --active-text-color: #ffffff;
}

.baseColumns {
  height: 36px;
  font-size: 14px;

  color: var(--text-color);

  padding-left: var(--size-small);
  padding-right: var(--size-small);
}

.columns {
  composes: baseColumns;
  /* A collection of columns. It's used by both rows and headers. */
  display: flex;
  align-items: center;
  box-sizing: border-box;

  user-select: none;

  border-bottom-color: var(--table-separator-color);
  border-bottom-style: solid;
}

.column {
  composes: singleLine from '../../shared.css';
  margin-left: var(--size-very-tiny);
  margin-right: var(--size-very-tiny);
  height: auto;

  /*
  The element should have a height even when it's empty so the loading area
  shows.
   */
  min-height: 14px;
  transition: 0.1s background ease-out;
}

@keyframes loading-background {
  from {
    background: color(var(--main-background-color) tint(15%));
  }

  to {
    background: color(var(--main-background-color) tint(17%));
  }
}

.empty .column {
  margin-top: var(--size-tiny);
  margin-bottom: var(--size-tiny);

  animation-direction: alternate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-name: loading-background;
  animation-timing-function: ease-in-out;
}

.header {
  text-transform: uppercase;
  border-bottom-width: 2px;
}

.row {
  border-bottom-width: 1px;
}

.row:hover {
  background: #252525;
}

.link {
  composes: link from '../../shared.css';
}

.row.active {
  color: var(--active-text-color);
}

.row,
.header {
  composes: columns;
}
