@import '../../sizes.css';
@import '../../colors.css';

.container {
  /*
  User select is a difficult beast. It's easier to just disable it.
  */
  user-select: none;
}

.header {
  color: var(--active-color);
  background: var(--header-background-color);
  padding: var(--size-medium);
}

.headerContainer {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}

.artworkContainer {
  width: 160px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: var(--size-small);
  flex: 1;
}

.name {
  margin-top: var(--size-small);
  font-size: var(--font-size-large);
}

.iconsContainer {
  position: relative;
}

.duration {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: var(--font-size-tiny);
  color: var(--secondary-text-color);
}

.bodyContainer {
  margin-top: var(--size-small);
  /*margin-left: var(--size-small);*/
  /*margin-right: var(--size-small);*/

  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
