:root {
  --default-size: 160px;
  --button-size: 40px;
  --button-margin: 16px;

  --overlay-color: color(#000000 alpha(30%));
  --button-background-color: color(#333333 alpha(90%));
  --button-background-color-active: #333333;

  --button-fill: #eeeeee;
}

.overlappingChild {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: auto;
}

.container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  position: relative;
}

.children {
  composes: overlappingChild;
}

.overlay {
  composes: overlappingChild;
  background: var(--overlay-color);
  opacity: 0;

  /* Let pointer events go to the underlying child so links can work. */
  pointer-events: none;

  transition: opacity 0.2s ease-in-out;
}

.backgroundInteraction .overlay {
  cursor: pointer;
  pointer-events: auto;
}

.buttonBackdrop {
  cursor: pointer;
  position: absolute;
  bottom: var(--button-margin);
  right: var(--button-margin);

  border-radius: 50%;
  background: var(--button-background-color);

  width: var(--button-size);
  height: var(--button-size);

  transform-origin: center center;
  transform: scale(0);

  transition: 0.2s transform ease-out, 0.2s background ease-in-out;
}

.container.backgroundInteraction:active .buttonBackdrop,
.buttonBackdrop:active {
  background: var(--button-background-color-active);
}

.path {
  fill: var(--button-fill);
  stroke: var(--button-fill);
}

.container:hover .buttonBackdrop,
.container.active .buttonBackdrop {
  transform: scale(1);
}

.container:hover .overlay {
  opacity: 1;
}
