@import "../colors.css";

.link {
  /*
   * A block navbar link with a hover effect and an accent for the selected
   * item.
   */
  display: block;
  height: 36px;
  line-height: 36px;

  padding-left: 1em;
  border-left: 0.125em solid transparent;
  padding-right: 1.125em;

  /* Reset link look. */
  color: #aaa;
  text-decoration: none;
}

/* Active when the link's route is the current route. */
.link.active {
  color: #fff;
  border-color: var(--accent-color);
}

.link:hover {
  background: rgba(0, 0, 0, 0.3);
  border-color: color(var(--accent-color) shade(30%));
}

.link:active {
  opacity: 0.5;
}
