@import '../sizes.css';

.container {
  color: #aaaaaa;
  font-size: 14px;
  line-height: 24px;
}

.columns {
  display: flex;
  padding-left: var(--size-small);
  padding-right: var(--size-small);
}

.bordered {
  border-bottom-color: #323232;
  border-bottom-style: solid;
}

.column {
  composes: singleLine from '../shared.css';
  padding-left: var(--size-very-tiny);
  padding-right: var(--size-very-tiny);
}

.header {
  composes: bordered;
  text-transform: uppercase;
  border-bottom-width: 2px;
}

.row {
  composes: bordered;
  border-bottom-width: 1px;
}

.row,
.header {
  composes: columns;
}

.song,
.album,
.artist,
.duration {
  composes: column;
}

.song,
.album,
.artist {
  flex: 2;
}

.duration {
  flex: 1;
}
