@import '../../sizes.css';

:root {
  --image-size: 90px;

  --title-text-color: #ffffff;
  --detail-text-color: #aaaaaa;
}

.container {
  flex: 1;
  min-width: calc(var(--image-size) + var(--size-very-tiny));

  display: flex;
  align-items: center;
}

.image {
  min-width: var(--image-size);
  width: var(--image-size);
  height: var(--image-size);
}

.infoContainer {
  margin-left: var(--size-tiny);

  /* Needed for text overflow */
  min-width: 0;
}

.title {
  composes: singleLine from '../../shared.css';
  color: var(--title-text-color);
  font-size: var(--font-size-tiny);
}

.detail {
  composes: singleLine from '../../shared.css';
  color: var(--detail-text-color);
  font-size: var(--font-size-very-tiny);

  margin-top: var(--size-very-tiny);
}

.album,
.artist {
  composes: link from '../../shared.css';
}
