.sorted {
  position: relative;
}

.chevron {
  visibility: hidden;

  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
}

.sorted .chevron {
  visibility: visible;
}

.reversed .chevron {
  transform: rotate(-90deg);
}
