@import './colors.css';

.grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr 100px;
  height: 100%;
}

.sidebar {
  padding-top: 3em;
  border-right: 1px solid color(var(--secondary-color) tint(10%));
  background: var(--secondary-color);
}

.footer {
  grid-column-end: span 2;
  background: color(var(--secondary-color) tint(10%));
}

.content {
  background: var(--main-background-color);
}
