:root {
  /*
   * This color is used for elements which should blend into the background like
   * the sidebar.
   */
  --secondary-color: #121212;

  --accent-color: #11a858;
  --main-background-color: #1b1b1b;

  --inactive-color: #aaa;
  --active-color: #fff;
}
