@import './sizes.css';

.clickable {
  cursor: pointer;
}

.singleLine {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}

.artworkGrid {
  display: grid;
  grid-column-gap: var(--size-small);
  grid-row-gap: var(--size-small);

  grid-template-columns: repeat(auto-fill, minmax(var(--artwork-size), 1fr));
}
