@import '../../colors.css';
@import '../../sizes.css';

:root {
  --primary-button-size: 60px;
}

.container {
  display: flex;
  align-items: center;
}

.primary {
  composes: clickable from '../../shared.css';

  margin: 15px;
  border-radius: 50%;
  background: var(--playback-background-color);

  height: var(--primary-button-size);
  width: var(--primary-button-size);
}

.secondary {
  composes: clickable from '../../shared.css';

  height: var(--secondary-button-size);
  width: var(--secondary-button-size);
}
